
<!-- footer -->
<footer id="footer">
    <div class="container padding-small">
        <!-- lab info -->
        <div class="footer-top">
            <h5>Structured Artificial Intelligence Lab.,<br>
                Research Group of Mathematical Science,<br>
                Division of Computer Science and Information Technology,<br>
                Faculty of Information Science and Technology, Hokkaido University</h5>
        </div>
        <!-- copyright -->
        <div class="footer-bottom">
        <p>Copyright &copy; Structured Artificial Intelligence Lab.,Hokkaido University</p>
        </div>
    </div>
</footer>
<p id="page-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>
