
<!-- header -->
<header id="header">
  <!-- logo -->
  <div class="container">
    <div id="header-top">
      <a class="navbar-brand" href="/en/">
        <img class="logo" src="/assets/images/site-logo-en.svg" alt="Structured Artificial Intelligence Lab., Faculty of Information Science and Technology, Hokkaido University" width="470" height="60" />
      </a>
      <div class="lang-switcher-wrapper">
        <div class="lang-switcher">
          <a href="{{ page.url }}" class="current"><span>EN</span></a> <a href="{{ page.ja_url }}"><span>JP</span></a>
        </div>
      </div>
    </div>
  </div>
  {% include en/navigation.html %}
</header>
