
<!-- footer -->
<footer id="footer">
  <div class="container padding-small">
    <!-- lab info -->
    <div class="footer-top">
      <h5>北海道大学 大学院情報科学研究院 <br class="d-block d-sm-none">
        情報理工学部門 数理科学分野 <br class="d-sm-block d-md-none">
        構造化知能研究室</h5>
      <p>Structured Artificial Intelligence Lab.,<br>
        Research Group of Mathematical Science,<br>
        Division of Computer Science and Information Technology,<br>
        Faculty of Information Science and Technology, Hokkaido University</p>
    </div>
    <!-- copyright -->
    <div class="footer-bottom">
      <p>&copy; Structured Artificial Intelligence Lab., Hokkaido University</p>
    </div>
  </div>
</footer>
<p id="page-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>
