<!-- footer -->
<footer id="footer">
<div class="container padding-small">
    <!-- lab info -->
    <div class="footer-top">
    <h5>北海道大学 大学院情報科学研究院 <br class="d-block d-sm-none">
        情報理工学部門 数理科学分野 <br class="d-sm-block d-md-none">
        構造化知能研究室</h5>
    <p>Structured Artificial Intelligence Lab.,<br>
        Research Group of Mathematical Science,<br>
        Division of Computer Science and Information Technology,<br>
        Faculty of Information Science and Technology, Hokkaido University</p>
    </div>
    <!-- copyright -->
    <div class="footer-bottom">
    <p>Copyright &copy; Structured Artificial Intelligence Lab.,Hokkaido University</p>
    </div>
</div>
</footer>
<p id="page-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>
<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>
