
<!-- header -->
<header id="header">
  <!-- logo -->
  <div class="container">
    <div id="header-top">
      <a class="navbar-brand" href="/">
        <img class="logo" src="/assets/images/site-logo-ja.svg" alt="北海道大学 大学院情報科学研究院 情報理工学部門 数理科学分野 構造化知能研究室" width="" height="">
      </a>
      <div class="lang-switcher-wrapper">
        <div class="lang-switcher">
          <a href="{{ page.en_url }}"><span>EN</span></a> <a href="{{ page.url }}" class="current"><span>JP</span></a>
        </div>
      </div>
    </div>
  </div>
  {% include navigation.html %}
</header>
